In [3]:
var cat = {
  "legs": 3,
  "name": "Harmony",
  "color": "Tortoiseshell"
};
cat;

{ legs: 3, name: 'Harmony', color: 'Tortoiseshell' }

In [5]:
// JavaScript knows keys will always be strings
var cat = {
  legs: 3,
  name: "Harmony",
  color: "Tortoiseshell"
};
cat;

{ legs: 3, name: 'Harmony', color: 'Tortoiseshell' }

In [6]:
cat["name"];

'Harmony'

In [7]:
cat.name;

'Harmony'

In [8]:
//object.keys()
var dog = { name: "Pancake", age: 6, color: "white", 
           bark: "Yip yap yip!" };
var cat = { name: "Harmony", age: 8, color: "tortoiseshell" };
Object.keys(dog);

[ 'name', 'age', 'color', 'bark' ]

In [9]:
Object.keys(cat);

[ 'name', 'age', 'color' ]

In [10]:
var cat = {};
cat["legs"] = 3;
cat["name"] = "Harmony";
cat["color"] = "Tortoiseshell";
cat;

{ legs: 3, name: 'Harmony', color: 'Tortoiseshell' }

In [12]:
var cat = {};
cat.legs = 3;
cat.name = "Harmony";
cat.color = "Tortoiseshell";
cat;

{ legs: 3, name: 'Harmony', color: 'Tortoiseshell' }

In [13]:
var dog = {
  name: "Pancake",
  legs: 4,
  isAwesome: true
};
dog.isBrown;

In [15]:
var dinosaurs = [
  { name: "Tyrannosaurus Rex", period: "Late Cretaceous" },
  { name: "Stegosaurus", period: "Late Jurassic" },
  { name: "Plateosaurus", period: "Triassic" }
];
dinosaurs[0];

{ name: 'Tyrannosaurus Rex', period: 'Late Cretaceous' }

In [16]:
dinosaurs[0]["name"];

'Tyrannosaurus Rex'

In [17]:
dinosaurs[1].period;

'Late Jurassic'

In [18]:
var anna = { name: "Anna", age: 11, luckyNumbers: [2, 4, 8, 16] };
var dave = { name: "Dave", age: 5, luckyNumbers: [3, 9, 40] };
var kate = { name: "Kate", age: 9, luckyNumbers: [1, 2, 3] };
var friends = [anna, dave, kate];
friends;

[ { name: 'Anna', age: 11, luckyNumbers: [ 2, 4, 8, 16 ] },
  { name: 'Dave', age: 5, luckyNumbers: [ 3, 9, 40 ] },
  { name: 'Kate', age: 9, luckyNumbers: [ 1, 2, 3 ] } ]

In [19]:
friends[1];

{ name: 'Dave', age: 5, luckyNumbers: [ 3, 9, 40 ] }

In [20]:
friends[2].name

'Kate'

In [21]:
friends[0].luckyNumbers[1];

4

In [23]:
var owedMoney = {}; 
owedMoney["Jimmy"] = 5; 
owedMoney["Anna"] = 7; 
owedMoney["Jimmy"];
owedMoney["Jinen"];

In [24]:
owedMoney["Jimmy"] += 3;
owedMoney["Jimmy"];

8

In [25]:
owedMoney;

{ Jimmy: 8, Anna: 7 }

In [27]:
var movies = {
  "Finding Nemo": {
    releaseDate: 2003,
    duration: 100,
    actors: ["Albert Brooks", "Ellen DeGeneres", "Alexander Gould"],
    format: "DVD"
  },
  "Star Wars: Episode VI - Return of the Jedi": {
    releaseDate: 1983,
    duration: 134,
    actors: ["Mark Hamill", "Harrison Ford", "Carrie Fisher"],
    format: "DVD"
  },
  "Harry Potter and the Goblet of Fire": {
    releaseDate: 2005,
    duration: 157,
    actors: ["Daniel Radcliffe", "Emma Watson", "Rupert Grint"],
    format: "Blu-ray"
} };
var findingNemo = movies["Finding Nemo"];
findingNemo.duration;

100

In [28]:
findingNemo.format;

'DVD'

In [29]:
var cars = {
  releaseDate: 2006,
  duration: 117,
  actors: ["Owen Wilson", "Bonnie Hunt", "Paul Newman"],
  format: "Blu-ray"
};
movies["Cars"] = cars;

{ releaseDate: 2006,
  duration: 117,
  actors: [ 'Owen Wilson', 'Bonnie Hunt', 'Paul Newman' ],
  format: 'Blu-ray' }

In [30]:
Object.keys(movies);

[ 'Finding Nemo',
  'Star Wars: Episode VI - Return of the Jedi',
  'Harry Potter and the Goblet of Fire',
  'Cars' ]

In [39]:
var myCrazyObject = {
  "name": "A ridiculous object",
  "some array": [7, 9, { purpose: "confusion", number: 123 }, 3.3], 
  "random animal": "Banana Shark"
};
myCrazyObject['some array'][2]['number'];

123