## Basic Types

The main basic data types in python are numbers (ints and floats), booleans and strings.

### Hello World!
alphanumeric characters in quotations

In [10]:
# This is a one line comment
print('Hello World!')

Hello World!

In [11]:
# Strings can be enclosed by ',", or """
print("Hello World!")

Hello World!

In [12]:
# \ is used as a escape character. 
# There are many special escape sequences
# Notable are: \t (tab)
#             \n (new line)

In [13]:
print("The \n makes a new line")

The
 makes a new line

In [14]:
print("The \t is a tab")

The 	 is a tab

In [15]:
print('I\'m going to the movies')

I'm going to the movies

In [16]:
# Using \ to not accidently close the string by having a closing "
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

In [17]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'Hello World'
print(firstVariable)

Hello World

### String Manipulations

Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [18]:
# go over ? mark after if you are not sure what method does. 
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

In [19]:
# To look up what each method does
firstVariable.lower?

In [20]:
firstVariable.split(' ')

['Hello', 'World']

In [21]:
a=firstVariable.split(' ')
a

['Hello', 'World']

In [22]:
' '.join(a)

'Hello World'

In [23]:
print("0" + "1")

01

In [24]:
"0" * 3

'000'

In [25]:
# You can add strings together. 
"Fizz" + "Buzz"

'FizzBuzz'

### Simple Math

In [26]:
# Addition, add two int together
1+1

2

In [27]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [28]:
130-2

128

In [29]:
# integer division
130/2

65.0

In [30]:
130.0/2

65.0

In [31]:
# Multiplication
2*3

6

In [32]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [33]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
9%3

0

## List

Lists are written within square brackets [ ]

 |  |  |  |
--- | --- | --- | --- | ---
z =| [3, | 7, | 4, | 2]
index | 0 | 1 | 2 | 3

In [35]:
# Defining a list
z = [3, 7, 4, 2]

In [36]:
# The first element of a list is at index 0
z[0]

3

In [37]:
z[2]

4

In [38]:
# Access Last Element of List 
z[-2]

4

In [39]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [40]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [41]:
# index 1 to end of list
z[1:]

[7, 4, 2]

In [42]:
print(min(z), max(z), len(z), sum(z))

2 7 4 16

In [43]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

 |  |  |  |  |  |
--- | --- | --- | --- | --- | --- | ---
random_list =| [4, | 1, | 5, | 4, | 10, | 4]
index=| 0 | 1 | 2 | 3 | 4 | 5

In [45]:
random_list.index(4)

0

In [46]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [47]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

In [48]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [49]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [50]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [51]:
# Sorting and Altering original list
# A-Z
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [52]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [53]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [54]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [55]:
x

[11, 10, 8, 7, 4, 3, 2]

In [56]:
x.append(3)
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

In [57]:
x.remove(10)
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [58]:
# List before you remove an item
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [59]:
# Remove item at the index
# this function will also return the item you removed from the list
# Default is the last index
x.pop(3)

4

In [60]:
print(x)

[11, 8, 7, 3, 2, 3]

In [61]:
x.extend([4, 5])

In [62]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [63]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.

# Concatenating Lists
print('x+y=',x+y)

x+y= [11, 8, 7, 3, 2, 3, 4, 5, 'Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [64]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [65]:
x.insert(4, [4, 5])

In [66]:
x

[11, 8, 7, 3, [4, 5], 2, 3, 4, 5]