In [1]:
# numbers
round(1.5)

2

In [2]:
import math
math.floor(1.9)

1

In [3]:
math.ceil(1.1)

2

In [4]:
int(math.pow(2,8))

256

In [5]:
2**8

256

In [6]:
math.exp(4)

54.598150033144236

In [7]:
math.log(math.e)

1.0

In [8]:
math.log10(1000)

3.0

In [9]:
math.log2(8)

3.0

In [12]:
# Tkinter is Python's de-facto standard GUI (Graphical User Interface) package. 
import tkinter
s = input ('type here ------->')

type here ------->what's up?

In [13]:
s

"what's up?"

In [14]:
name = input('What is your name?:')

What is your name?:Michael

In [15]:
age = input('How old are you?:')

How old are you?:I am one hundred years old.

In [16]:
print(name)
print(age)

Michael
I am one hundred years old.

In [17]:
A = 'part'
B = 'george'
C = 'hello'

In [18]:
"{} --- {} --- {}".format(A,B,C)

'part --- george --- hello'

In [19]:
"{} xxx {} xxx {}".format(A,C,B)

'part xxx hello xxx george'

In [20]:
"{0} --- {0} --- {0}".format(C,B,A)

'hello --- hello --- hello'

In [23]:
# boolean 
'george' == 'George' and 3 > 4

False

In [24]:
# string, list
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()

In [25]:
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [26]:
# conditionals, simple repetition of the for statement
word_lengths = []
for word in words:
    if word != 'the':
        word_lengths.append(len(word))
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [142]:
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [27]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [143]:
word_lengths = [len(word) for word in words if word !='the']
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [29]:
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [30]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = []
for number in numbers:
    if number > 0:
        newlist.append(number)
print('this result is using for loop')
print(newlist)

this result is using for loop
[34.6, 44.9, 68.3, 44.6, 12.7]

In [31]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist1 = [int(x) for x in numbers if x > 0]
newlist2 = [x for x in numbers if x > 0]
print('this result used list comprehensions ')
print(newlist1)
print(newlist2)

this result used list comprehensions
[34, 44, 68, 44, 12]
[34.6, 44.9, 68.3, 44.6, 12.7]

In [32]:
numbers = [1,2,3,4]
squares = [x**2 for x in numbers ]
print('this result used list comprehension')
print(squares)

this result used list comprehension
[1, 4, 9, 16]

In [33]:
numbers = [1,2,3,4]
squares = []
for x in numbers:
    squares.append(x**2)
print('this result used for loop')
print(squares)

this result used for loop
[1, 4, 9, 16]

In [34]:
print('Find common numbers from two list using for loop')
list_a = [1,2,3,4]
list_b = [2,3,4,5]
common_num = []
for a in list_a:
    for b in list_b:
        if a == b:
            common_num.append(a)
print(common_num)

Find common numbers from two list using for loop
[2, 3, 4]

In [35]:
list_a = [1,2,3,4]
list_b = [2,3,4,5]
common_num = [a for a in list_a for b in list_b if a == b]
print(common_num)

[2, 3, 4]

In [36]:
list_a = ['Hello','World','In','Python']
small_list_a = [text.lower() for text in list_a]
print(small_list_a)

['hello', 'world', 'in', 'python']

In [37]:
list_a=[1,2,3]
square_cube_list = [[a**2,a**3] for a in list_a]
print(square_cube_list)

[[1, 1], [4, 8], [9, 27]]

In [38]:
def add(x,y):
    return x+y
add(2,3)

5

In [39]:
add = lambda x,y : x+y
print(add(2,3))
type(add)

5

function

In [40]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [-1,-2,-3,-4]
result = map(lambda x,y : x+y, a,b)

Lists

In [41]:
days_of_the_week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
days_of_the_week[1]

'Monday'

In [42]:
days_of_the_week[6]

'Saturday'

In [43]:
days_of_the_week[0]

'Sunday'

In [44]:
days_of_the_week[-1]

'Saturday'

In [45]:
days_of_the_week[-7]

'Sunday'

In [46]:
len(days_of_the_week)

7

In [47]:
for day in days_of_the_week:
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [48]:
for letter in "HELLO":
    print(letter)

H
E
L
L
O

In [49]:
for day in days_of_the_week:
    statement = 'Today is ' + day
    print(statement)

Today is Sunday
Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday

In [50]:
number = range(0,20)

In [51]:
len(number)

20

In [52]:
for i in number:
    print ("The square root of ", i, " is ", i*i)

The square root of  0  is  0
The square root of  1  is  1
The square root of  2  is  4
The square root of  3  is  9
The square root of  4  is  16
The square root of  5  is  25
The square root of  6  is  36
The square root of  7  is  49
The square root of  8  is  64
The square root of  9  is  81
The square root of  10  is  100
The square root of  11  is  121
The square root of  12  is  144
The square root of  13  is  169
The square root of  14  is  196
The square root of  15  is  225
The square root of  16  is  256
The square root of  17  is  289
The square root of  18  is  324
The square root of  19  is  361

In [144]:
# list, dictionary
city_population = {
    'Tokyo': 13350000,
    'Los Angeles': 18550000,
    'New York City': 8400000,
    'San Francisco': 1837442,
}
city_population

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

In [62]:
city_population['New York City']

8400000

In [63]:
city_population.keys()

dict_keys(['Tokyo', 'Los Angeles', 'New York City', 'San Francisco'])

In [64]:
type(city_population.keys())

dict_keys

In [65]:
city_population['Mumbai'] = 11980000

In [66]:
city_population.items()

dict_items([('Tokyo', 13350000), ('Los Angeles', 18550000), ('New York City', 8400000), ('San Francisco', 1837442), ('Mumbai', 11980000)])

In [67]:
sorted(city_population.items())

[('Los Angeles', 18550000),
 ('Mumbai', 11980000),
 ('New York City', 8400000),
 ('San Francisco', 1837442),
 ('Tokyo', 13350000)]

In [68]:
city_population

{'Los Angeles': 18550000,
 'Mumbai': 11980000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

In [69]:
municipalities = {
    'New York City': [
        'Manhattan',
        'The Bronx',
        'Brooklyn',
        'Queens',
        'Staten Island'
    ],
    'Tokyo': [
        'Akihabara', 
        'Harajuku', 
        'Shimokitazawa', 
        'Nakameguro', 
        'Shibuya', 
        'Ebisu/Daikanyama', 
        'Shibuya District', 
        'Aoyama', 
        'Asakusa/Ueno', 
        'Bunkyo District', 
        'Ginza', 
        'Ikebukuro', 
        'Koto District', 
        'Meguro District', 
        'Minato District', 
        'Roppongi', 
        'Shinagawa District', 
        'Shinjuku', 
        'Shinjuku District', 
        'Sumida District', 
        'Tsukiji', 
        'Tsukishima']
}

In [70]:
municipalities

{'New York City': ['Manhattan',
  'The Bronx',
  'Brooklyn',
  'Queens',
  'Staten Island'],
 'Tokyo': ['Akihabara',
  'Harajuku',
  'Shimokitazawa',
  'Nakameguro',
  'Shibuya',
  'Ebisu/Daikanyama',
  'Shibuya District',
  'Aoyama',
  'Asakusa/Ueno',
  'Bunkyo District',
  'Ginza',
  'Ikebukuro',
  'Koto District',
  'Meguro District',
  'Minato District',
  'Roppongi',
  'Shinagawa District',
  'Shinjuku',
  'Shinjuku District',
  'Sumida District',
  'Tsukiji',
  'Tsukishima']}

In [71]:
municipalities['New York City']

['Manhattan', 'The Bronx', 'Brooklyn', 'Queens', 'Staten Island']

In [72]:
municipalities['New York City'][3]

'Queens'

In [73]:
municipalities.keys()

dict_keys(['New York City', 'Tokyo'])

In [74]:
municipalities.values()

dict_values([['Manhattan', 'The Bronx', 'Brooklyn', 'Queens', 'Staten Island'], ['Akihabara', 'Harajuku', 'Shimokitazawa', 'Nakameguro', 'Shibuya', 'Ebisu/Daikanyama', 'Shibuya District', 'Aoyama', 'Asakusa/Ueno', 'Bunkyo District', 'Ginza', 'Ikebukuro', 'Koto District', 'Meguro District', 'Minato District', 'Roppongi', 'Shinagawa District', 'Shinjuku', 'Shinjuku District', 'Sumida District', 'Tsukiji', 'Tsukishima']])

In [76]:
print(type(municipalities))
print(type(municipalities['Tokyo']))
print(type(municipalities['Tokyo'][0]))

<class 'dict'>
<class 'list'>
<class 'str'>

In [77]:
len(municipalities['New York City'])

5

In [78]:
len(municipalities['Tokyo'])

22

In [79]:
municipalities['New York City'][0]

'Manhattan'

In [80]:
len(municipalities['New York City'][0])

9

In [81]:
municipalities['New York City'][2]

'Brooklyn'

In [82]:
len(municipalities['New York City'][2])

8

In [83]:
city_population.values()

dict_values([13350000, 18550000, 8400000, 1837442, 11980000])

In [84]:
population_values = city_population.values()
population_values

dict_values([13350000, 18550000, 8400000, 1837442, 11980000])

In [90]:
import numpy

In [91]:
city_population.values()

dict_values([13350000, 18550000, 8400000, 1837442, 11980000])

In [92]:
population_values = city_population.values()
population_values

dict_values([13350000, 18550000, 8400000, 1837442, 11980000])

In [103]:
numpy.mean(list(city_population.values()))

10823488.4

In [104]:
import datetime

In [105]:
today = datetime.date.today()

In [106]:
print(today)

2017-10-11

In [107]:
today.year

2017

In [108]:
today.month

10

In [109]:
today.day

11

In [110]:
from urllib.request import urlretrieve

In [111]:
import pandas

In [112]:
url = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'

In [115]:
urlretrieve(url, 'winequality-red.csv')

('winequality-red.csv', <http.client.HTTPMessage at 0x1097d0160>)

In [116]:
df = pandas.read_csv('winequality-red.csv', sep=';')

In [117]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [118]:
url2 = 'https://data.cityofnewyork.us/api/views/varh-9tsp/rows.csv'

In [119]:
urlretrieve(url2,'rows.csv')

('rows.csv', <http.client.HTTPMessage at 0x1097d07b8>)

In [120]:
df = pandas.read_csv('rows.csv')

In [121]:
df

,OBJECTID,the_geom,BORO,TYPE,PROVIDER,NAME,LOCATION,LAT,LON,X,...,NTACODE,NTANAME,COUNDIST,POSTCODE,BOROCD,CT2010,BOROCT2010,BIN,BBL,DOITT_ID
0,998,POINT (-73.99403913047428 40.745968480330795),MN,Free,LinkNYC - Citybridge,mn-05-123662,179 WEST 26 STREET,40.745968,-73.994039,985901.695307,...,MN17,Midtown-Midtown South,3,10001,105,95,1009500,0,0,1425
1,999,POINT (-73.98506899944617 40.74461400007714),MN,Free,LinkNYC - Citybridge,mn-05-123789,25 EAST 29 STREET,40.744614,-73.985069,988387.309473,...,MN17,Midtown-Midtown South,2,10016,105,74,1007400,1016929,1008590024,1426
2,1000,POINT (-73.98587841945721 40.757665579804524),MN,Free,LinkNYC - Citybridge,mn-05-133354,1515 BROADWAY,40.757666,-73.985878,988162.256449,...,MN17,Midtown-Midtown South,3,10036,105,119,1011900,1024714,1010160036,1427
3,1001,POINT (-73.98434199964098 40.75997099956788),MN,Free,LinkNYC - Citybridge,mn-05-133359,201 WEST 48 STREET,40.759971,-73.984342,988587.757617,...,MN17,Midtown-Midtown South,4,10036,105,125,1012500,1076195,1010200046,1428
4,1002,POINT (-73.98454079962323 40.760412940068946),MN,Free,LinkNYC - Citybridge,mn-05-133361,1600 Broadway,40.760413,-73.984541,988532.655360,...,MN17,Midtown-Midtown South,4,10019,105,125,1012500,1087187,1010207502,1429
5,1003,POINT (-73.98307690020869 40.76259329961947),MN,Free,LinkNYC - Citybridge,mn-05-133505,1668 Broadway,40.762593,-73.983077,988938.045460,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1024818,1010230029,1430
6,1004,POINT (-73.98427739026059 40.760882769705795),MN,Free,LinkNYC - Citybridge,mn-05-133508,1626 Broadway,40.760883,-73.984277,988605.596992,...,MN17,Midtown-Midtown South,4,10019,105,125,1012500,1024795,1010210026,1431
7,1005,POINT (-73.9842828912446 40.760632174440964),MN,Free,LinkNYC - Citybridge,mn-05-133511,1606 Broadway,40.760632,-73.984283,988604.089229,...,MN17,Midtown-Midtown South,4,10019,105,125,1012500,1024779,1010200038,1432
8,1006,POINT (-73.97973824055805 40.752335260337226),MN,Free,LinkNYC - Citybridge,mn-05-133538,300 Madison Ave,40.752335,-73.979738,989863.787144,...,MN20,Murray Hill-Kips Bay,4,10017,105,82,1008200,1085972,1012760058,1433
9,1007,POINT (-73.97681672944039 40.750832729663784),MN,Free,LinkNYC - Citybridge,mn-05-133550,370 Lexington Ave,40.750833,-73.976817,990673.374782,...,MN20,Murray Hill-Kips Bay,4,10017,105,80,1008000,1036150,1012950058,1434
10,1008,POINT (-73.98155980014904 40.74983207004283),MN,Free,LinkNYC - Citybridge,mn-05-133558,232 Madison Ave,40.749832,-73.981560,989359.291976,...,MN20,Murray Hill-Kips Bay,4,10016,105,82,1008200,1017194,1008670015,1435
11,1009,POINT (-73.99510999964427 40.74972800027015),MN,Free,LinkNYC - Citybridge,mn-05-133689,402 8 Avenue,40.749728,-73.995110,985604.891865,...,MN17,Midtown-Midtown South,3,10001,105,101,1010100,1014332,1007800001,1436
12,1010,POINT (-73.97514297013922 40.75864931039507),MN,Free,LinkNYC - Citybridge,mn-05-134122,488 Madison Ave,40.758649,-73.975143,991136.314338,...,MN17,Midtown-Midtown South,4,10022,105,102,1010200,1035470,1012870014,1437
13,1011,POINT (-73.984633629782 40.76071760039906),MN,Free,LinkNYC - Citybridge,mn-05-134155,1611 Broadway,40.760718,-73.984634,988506.919235,...,MN17,Midtown-Midtown South,3,10019,105,125,1012500,1076195,1010200046,1438
14,1012,POINT (-73.97235755960719 40.76246695042087),MN,Free,LinkNYC - Citybridge,mn-05-134168,598 Madison Ave,40.762467,-73.972358,991907.536730,...,MN17,Midtown-Midtown South,4,10022,105,11202,1011202,1036060,1012930016,1439
15,1013,POINT (-73.98485669974454 40.76026604038283),MN,Free,LinkNYC - Citybridge,mn-05-134185,1605 Broadway,40.760266,-73.984857,988445.150976,...,MN17,Midtown-Midtown South,3,10019,105,125,1012500,1076195,1010200046,1440
16,1014,POINT (-73.9840119596612 40.76023531989322),MN,Free,LinkNYC - Citybridge,mn-05-134211,736 7 AVENUE,40.760235,-73.984012,988679.171482,...,MN17,Midtown-Midtown South,4,10019,105,125,1012500,1024777,1010200035,1441
17,1015,POINT (-73.97274461932047 40.76151071412763),MN,Free,LinkNYC - Citybridge,mn-05-134222,555 Madison Ave,40.761511,-73.972745,991800.421556,...,MN17,Midtown-Midtown South,4,10022,105,102,1010200,1035775,1012910051,1442
18,1016,POINT (-73.98353750025105 40.760526620346845),MN,Free,LinkNYC - Citybridge,mn-05-134283,745 7 AVENUE,40.760527,-73.983537,988810.591330,...,MN17,Midtown-Midtown South,4,10019,105,125,1012500,1084667,1010020001,1443
19,26,POINT (-73.96399099973121 40.6574519996605),BK,Limited Free,ALTICEUSA,Prospect Park,Skate Rental Area,40.657452,-73.963991,994240.977381,...,BK99,park-cemetery-etc-Brooklyn,39,11215,355,177,3017700,3391508,3011170001,894
20,1017,POINT (-73.99342732901681 40.73611175460224),MN,Free,LinkNYC - Citybridge,mn-05-134468,69 5Th Ave,40.736112,-73.993427,986071.488377,...,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,2,10003,105,52,1005200,1016061,1008427501,1444
21,1018,POINT (-73.98873983042944 40.734147649661395),MN,Free,LinkNYC - Citybridge,mn-05-134620,117 East 14Th St,40.734148,-73.988740,987370.630021,...,MN21,Gramercy,2,10003,105,50,1005000,1083247,1008707501,1445
22,1019,POINT (-73.98309027971149 40.761141970298425),MN,Free,LinkNYC - Citybridge,mn-05-134736,777 7 AVENUE,40.761142,-73.983090,988934.440999,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1022710,1010037501,1446
23,1020,POINT (-73.97958520001451 40.75254481970809),MN,Free,LinkNYC - Citybridge,mn-05-135892,300 Madison Ave,40.752545,-73.979585,989906.171094,...,MN20,Murray Hill-Kips Bay,4,10017,105,82,1008200,1085972,1012760058,1447
24,1021,POINT (-73.99555300007853 40.74912200017118),MN,Free,LinkNYC - Citybridge,mn-05-136213,382 8 Avenue,40.749122,-73.995553,985482.159291,...,MN17,Midtown-Midtown South,3,10001,105,95,1009500,1014277,1007790001,1448
25,1022,POINT (-73.98593571966606 40.746719760007004),MN,Free,LinkNYC - Citybridge,mn-05-136688,302 5 AVENUE,40.746720,-73.985936,988147.022285,...,MN17,Midtown-Midtown South,4,10001,105,76,1007600,1015816,1008330038,1449
26,1023,POINT (-73.99499300032076 40.74987999975493),MN,Free,LinkNYC - Citybridge,mn-05-136910,408 8 Avenue,40.749880,-73.994993,985637.306358,...,MN17,Midtown-Midtown South,3,10001,105,101,1010100,1014351,1007807501,1450
27,1024,POINT (-73.9818807495442 40.76220989996661),MN,Free,LinkNYC - Citybridge,mn-05-137157,159 WEST 52 STREET,40.762210,-73.981881,989269.432408,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1023159,1010050001,1451
28,1025,POINT (-73.97652976006606 40.756742180411685),MN,Free,LinkNYC - Citybridge,mn-05-137210,410 Madison Ave,40.756742,-73.976530,990752.308524,...,MN17,Midtown-Midtown South,4,10017,105,94,1009400,1035437,1012840014,1452
29,1026,POINT (-73.99643400039932 40.747905000342676),MN,Free,LinkNYC - Citybridge,mn-05-137326,243 West 27Th St,40.747905,-73.996434,985238.072926,...,MN17,Midtown-Midtown South,3,10001,105,95,1009500,1014251,1007770018,1453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,2537,POINT (-73.94786799984885 40.82544599964419),MN,Free,LinkNYC - Citybridge,mn-09-100210,501 West 145 Street,40.825446,-73.947868,998678.003242,...,MN04,Hamilton Heights,7,10031,109,229,1022900,1061939,1020770029,2319
2537,2538,POINT (-73.94465899972445 40.81889699977109),MN,Free,LinkNYC - Citybridge,mn-10-119890,2604 FREDERICK DOUGLASS BLVD,40.818897,-73.944659,999567.630366,...,MN03,Central Harlem North-Polo Grounds,9,10030,110,230,1023000,1060322,1020240064,2385
2538,2539,POINT (-73.98198780945361 40.76617478959079),MN,Free,LinkNYC - Citybridge,mn-05-122522,250 West 57St,40.766175,-73.981988,989239.477391,...,MN17,Midtown-Midtown South,3,10107,105,137,1013700,1024899,1010280056,2092
2539,2540,POINT (-73.98230855991379 40.76412672039278),MN,Free,LinkNYC - Citybridge,mn-05-122529,1710 Broadway,40.764127,-73.982309,989150.778549,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1024850,1010260021,2093
2540,2541,POINT (-73.98236264008422 40.76467195960161),MN,Free,LinkNYC - Citybridge,mn-05-122532,1725 Broadway,40.764672,-73.982363,989135.757628,...,MN17,Midtown-Midtown South,3,10019,105,137,1013700,1078860,1010267502,2094
2541,2542,POINT (-73.98262882960573 40.763978079685025),MN,Free,LinkNYC - Citybridge,mn-05-122541,1701 Broadway,40.763978,-73.982629,989062.069979,...,MN17,Midtown-Midtown South,3,10019,105,131,1013100,1024839,1010250044,2095
2542,2543,POINT (-73.98682800027184 40.761094000340414),MN,Free,LinkNYC - Citybridge,mn-05-122586,790 8 Avenue,40.761094,-73.986828,987898.996046,...,MN17,Midtown-Midtown South,3,10019,105,125,1012500,1024771,1010207501,2096
2543,2544,POINT (-73.9873129997412 40.7602830000139),MN,Free,LinkNYC - Citybridge,mn-05-122591,270 WEST 47 STREET,40.760283,-73.987313,987764.680879,...,MN17,Midtown-Midtown South,3,10036,105,125,1012500,1024748,1010180061,2097
2544,2545,POINT (-73.98592299953167 40.76233100001673),MN,Free,LinkNYC - Citybridge,mn-05-122593,830 8 Avenue,40.762331,-73.985923,988149.632807,...,MN17,Midtown-Midtown South,3,10019,105,131,1013100,1024808,1010220001,2098
2545,2546,POINT (-73.98471930982711 40.76399634998395),MN,Free,LinkNYC - Citybridge,mn-05-122608,888 8 AVENUE,40.763996,-73.984719,988482.975070,...,MN17,Midtown-Midtown South,3,10019,105,131,1013100,1024825,1010240001,2099
2546,2547,POINT (-73.98498723009939 40.76361577001061),MN,Free,LinkNYC - Citybridge,mn-05-122609,870 8TH AVENUE,40.763616,-73.984987,988408.781068,...,MN17,Midtown-Midtown South,3,10019,105,131,1013100,1024825,1010240001,2100
2547,2548,POINT (-73.98422945056423 40.764646190388795),MN,Free,LinkNYC - Citybridge,mn-05-122615,900 8 Avenue,40.764646,-73.984229,988618.630843,...,MN17,Midtown-Midtown South,3,10019,105,131,1013100,1024832,1010257502,2101
2548,2549,POINT (-73.98409943961784 40.76482318009721),MN,Free,LinkNYC - Citybridge,mn-05-122619,910 8 Avenue,40.764823,-73.984099,988654.633461,...,MN17,Midtown-Midtown South,3,10019,105,137,1013700,0,1010260055,2102
2549,2550,POINT (-73.9833678703945 40.76582961962458),MN,Free,LinkNYC - Citybridge,mn-05-122622,944 8 Avenue,40.765830,-73.983368,988857.216933,...,MN17,Midtown-Midtown South,3,10019,105,137,1013700,1024887,1010270062,2103
2550,2551,POINT (-73.98359299971118 40.76552200014184),MN,Free,LinkNYC - Citybridge,mn-05-122627,932 8 Avenue,40.765522,-73.983593,988794.875333,...,MN17,Midtown-Midtown South,3,10019,105,137,1013700,1024868,1010270002,2104
2551,2552,POINT (-73.98224699987307 40.76727099957289),MN,Free,LinkNYC - Citybridge,mn-05-122628,1775 Broadway,40.767271,-73.982247,989167.599370,...,MN17,Midtown-Midtown South,3,10019,105,137,1013700,1024900,1010297501,2105
2552,2553,POINT (-73.97719468017824 40.76451316985691),MN,Free,LinkNYC - Citybridge,mn-05-122629,101 West 57Th,40.764513,-73.977195,990567.358794,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1023730,1010100029,2106
2553,2554,POINT (-73.97972100057736 40.76614800022246),MN,Free,LinkNYC - Citybridge,mn-05-122631,916 7 Avenue,40.766148,-73.979721,989867.398690,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1024904,1010290036,2107
2554,2555,POINT (-73.9793497005094 40.76664932039857),MN,Free,LinkNYC - Citybridge,mn-05-122633,936 7TH AVENUE,40.766649,-73.979350,989970.207849,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1024918,1010300029,2108
2555,2556,POINT (-73.98047754977866 40.764718099991),MN,Free,LinkNYC - Citybridge,mn-05-122647,879 7 AVENUE,40.764718,-73.980478,989657.946132,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1076178,1010087502,2109
2556,2557,POINT (-73.98073089026934 40.76487454038313),MN,Free,LinkNYC - Citybridge,mn-05-122649,200 WEST 56 STREET,40.764875,-73.980731,989587.755463,...,MN17,Midtown-Midtown South,4,10019,105,137,1013700,1024878,1010277501,2110
2557,2558,POINT (-73.98299600048242 40.761640000243396),MN,Free,LinkNYC - Citybridge,mn-05-122651,780 7 AVENUE,40.761640,-73.982996,988960.523837,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1024811,1010220035,2111
2558,2559,POINT (-73.98255200010253 40.762365999757705),MN,Free,LinkNYC - Citybridge,mn-05-122656,200 WEST 52 STREET,40.762366,-73.982552,989083.470008,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1024818,1010230029,2112
2559,2560,POINT (-73.98171100004498 40.763036000322515),MN,Free,LinkNYC - Citybridge,mn-05-122657,821 7 AVENUE,40.763036,-73.981711,989316.394067,...,MN17,Midtown-Midtown South,4,10019,105,131,1013100,1023166,1010067501,2113
2560,2561,POINT (-73.99601199967746 40.74848200026102),MN,Free,LinkNYC - Citybridge,mn-05-122680,362 8 AVENUE,40.748482,-73.996012,985354.991783,...,MN17,Midtown-Midtown South,3,10001,105,95,1009500,1087714,1007787501,2114
2561,2562,POINT (-73.98867302965496 40.748772220053226),MN,Free,LinkNYC - Citybridge,mn-05-122768,899 6 AVENUE,40.748772,-73.988673,987388.453917,...,MN17,Midtown-Midtown South,3,10001,105,101,1010100,1015190,1008080040,2115
2562,2563,POINT (-73.98778099990191 40.75008700008441),MN,Free,LinkNYC - Citybridge,mn-05-122775,Herald Square,40.750087,-73.987781,987635.548964,...,MN17,Midtown-Midtown South,4,10001,105,109,1010900,0,1008100045,2116
2563,2564,POINT (-73.98389867982743 40.75495097962525),MN,Free,LinkNYC - Citybridge,mn-05-122814,1100 Ave Of The Americas,40.754951,-73.983899,988710.907357,...,MN17,Midtown-Midtown South,4,10036,105,96,1009600,1034195,1012580001,2117
2564,2565,POINT (-73.9747322798014 40.76246754976373),MN,Free,LinkNYC - Citybridge,mn-05-122853,1 WEST 56 STREET,40.762468,-73.974732,991249.689346,...,MN17,Midtown-Midtown South,4,10019,105,11201,1011201,1035051,1012720034,2118
2565,2566,POINT (-73.98236686967641 40.7754432795939),MN,Free,LinkNYC - Citybridge,mn-07-121323,1995 BROADWAY,40.775443,-73.982367,989133.795905,...,MN14,Lincoln Square,6,10023,107,153,1015300,1070358,1011397502,2119

In [122]:
nyc_beaches = 'https://data.cityofnewyork.us/api/views/4wtg-vt8c/rows.csv'

In [123]:
urlretrieve(nyc_beaches,'rows.csv')

('rows.csv', <http.client.HTTPMessage at 0x10472c748>)

In [124]:
df = pandas.read_csv('rows.csv')

In [125]:
df.head()

,the_geom,SYSTEM,GISPROPNUM,BOROUGH,NAME,SHAPE_STAr,SHAPE_STLe
0,MULTIPOLYGON (((-73.80381212219379 40.58522027...,Q163-ZN05A-BCH0110,Q163,Q,Rockaway Beach,103079.115402,1697.467039
1,MULTIPOLYGON (((-73.80219540329239 40.58614382...,Q163-ZN05A-BCH0109,Q163,Q,Rockaway Beach,85226.560532,1188.193865
2,MULTIPOLYGON (((-73.79842286341552 40.58671308...,Q162-ZN04C-BCH0083,Q162,Q,Rockaway Beach,70284.274368,1068.351311
3,MULTIPOLYGON (((-73.79639354504901 40.58707015...,Q162-ZN04C-BCH0084,Q162,Q,Rockaway Beach,74989.980988,1124.325310
4,MULTIPOLYGON (((-73.79639354504901 40.58707015...,Q162-ZN04C-BCH0085,Q162,Q,Rockaway Beach,64749.425842,1417.569578