In [ ]:
2+6

In [ ]:
4*10

In [ ]:
5-12

In [ ]:
40/4

In [ ]:
"Jimmy"

In [ ]:
"Jimmy".reverse

In [ ]:
"Jimmy".length

In [ ]:
"Jimmy"*5

In [ ]:
40.reverse

In [ ]:
40.to_s.reverse

In [ ]:
"40.9".to_i

In [ ]:
[]

In [ ]:
[12, 47, 35]

In [ ]:
[12, 47, 35].max

In [ ]:
ticket = [12, 47, 35]

In [ ]:
ticket

In [ ]:
ticket.sort

In [ ]:
ticket

In [ ]:
ticket.sort!

In [ ]:
ticket

In [ ]:
Math.sqrt(1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10)

In [ ]:
puts "This string is self-referential."

In [ ]:
1 + 2 # => 3

In [ ]:
# S-expressions
require 'ripper'
Ripper.sexp("1+1")

In [ ]:
# bytecode
require 'pp'
pp RubyVM::InstructionSequence.compile('1+1').to_a

In [ ]:
old_way = {:foo => "bar", :one => 1}
new_way = {foo: "bar", one: 1}

In [ ]:
# NEW UNNAMED KEYWORD ARGUMENTS
def new_way(**options) 
  return options[:foo]
end

In [ ]:
new_way(foo: "bar")

In [ ]:
new_way

In [ ]:
# NEW NAMED KEYWORD ARGUMENTS
def new_way(foo:) 
  return foo
end

In [ ]:
new_way(foo: "bar")

In [ ]:
new_way

In [41]:
[1,2,3,4].each{|x| puts x}

1
2
3
4

[1, 2, 3, 4]

In [42]:
[1, 2, 3, 4].collect { |x| x ** 2 }

[1, 4, 9, 16]

In [43]:
['a', 'b', 'c'].each_with_index do |item, index|
  puts "At position #{index}: #{item}"
end

At position 0: a
At position 1: b
At position 2: c

["a", "b", "c"]

In [44]:
[1, 2, 3, 4].reverse_each { |x| puts x }

4
3
2
1

[1, 2, 3, 4]

In [46]:
array = ['a', 'b', 'c']
array.collect! { |x| x.upcase }

["A", "B", "C"]

In [47]:
array

["A", "B", "C"]

In [48]:
array.map! { |x| x.downcase }

["a", "b", "c"]

In [49]:
array

["a", "b", "c"]

In [51]:
# use Interger#upto to skip certain elements of an array
array = ['junk', 'junk', 'junk', 'val1', 'val2']
3.upto(array.length-1) { |i| puts "Value #{array[i]}" }

Value val1
Value val2

3

In [53]:
# use Range#step to skip certain elements of an array
array = ['1', 'a', '2', 'b', '3', 'c']
(0..array.length-1).step(2) do |i|
  puts "Letter #{array[i]} is #{array[i+1]}"
end

Letter 1 is a
Letter 2 is b
Letter 3 is c

0..5

In [54]:
for element in ['a', 'b', 'c']
  puts element
end

a
b
c

["a", "b", "c"]

In [55]:
for element in (1..3) 
  puts element
end

1
2
3

1..3

In [56]:
array = ['cherry', 'strawberry', 'orange']

for index in (0...array.length)
  puts "At position #{index}: #{array[index]}"
end

index = 0
while index < array.length
  puts "At position #{index}: #{array[index]}"
  index += 1 
end

index = 0
until index == array.length
  puts "At position #{index}: #{array[index]}"
  index += 1 
end

At position 0: cherry
At position 1: strawberry
At position 2: orange
At position 0: cherry
At position 1: strawberry
At position 2: orange
At position 0: cherry
At position 1: strawberry
At position 2: orange

In [57]:
array = [1,2,3,4,5]
new_array = []
front_index = 0
back_index = array.length-1 

while front_index <= back_index
  new_array << array[front_index] 
  front_index += 1
  if front_index <= back_index
    new_array << array[back_index]
    back_index -= 1
  end 
end
new_array

[1, 5, 2, 4, 3]

In [58]:
# method each from both sides
class Array
  def each_from_both_sides
    front_index = 0
    back_index = self.length-1 
    while front_index <= back_index
      yield self[front_index] 
      front_index += 1
      if front_index <= back_index
        yield self[back_index] 
        back_index -= 1
      end 
    end 
  end 
end

new_array = []
[1,2,3,4,5].each_from_both_sides { |x| new_array << x } 
new_array

[1, 5, 2, 4, 3]

In [59]:
class Array
  def collect_from_both_sides
    new_array = []
    each_from_both_sides { |x| new_array << yield(x) } 
    return new_array
  end 
end
["ham", "eggs", "and"].collect_from_both_sides { |x| x.capitalize }

["Ham", "And", "Eggs"]

In [60]:
# simple swap
a=1 
b=2 
a,b=b,a

[2, 1]

In [61]:
a

2

In [62]:
b

1

In [63]:
# rearrangement of values
a, b, c = :red, :green, :blue 
c,a,b=a,b,c

[:red, :green, :blue]

In [64]:
a

:green

In [65]:
b

:blue

In [66]:
c

:red

In [67]:
# split out an array into its components
array = [:red, :green, :blue] 
c,a,b=array

[:red, :green, :blue]

In [68]:
a

:green

In [69]:
b

:blue

In [70]:
c

:red

In [75]:
# use the splat operator to extract items from the front of the array
a,b,*c=[12,14,178,89,90]

[12, 14, 178, 89, 90]

In [72]:
a

12

In [73]:
b

14

In [74]:
c

[178, 89, 90]

In [76]:
a,b=5,10 
a, b = b/a, a-1

[2, 4]

In [77]:
a,b,c='A','B','C' 
a,b,c=[a,b],{b=>c},a

[["A", "B"], {"B"=>"C"}, "A"]

In [78]:
a

["A", "B"]

In [79]:
b

{"B"=>"C"}

In [80]:
c

"A"

In [81]:
a,b=1,2
a,b=b

2

In [82]:
a

2

In [83]:
b  # => nil

In [84]:
a, b = rand(1000), rand(1000)
a=a^b

713

In [85]:
b=b^a

875

In [86]:
a=a^b

418

In [87]:
[a, b]

[418, 875]

In [88]:
# method uniq, uniq!
survey_results = [1, 2, 7, 1, 1, 5, 2, 5, 1]
distinct_answers = survey_results.uniq

[1, 2, 7, 5]

In [89]:
survey_results.uniq!

[1, 2, 7, 5]

In [90]:
survey_results

[1, 2, 7, 5]

In [91]:
require 'set'
survey_results = [1, 2, 7, 1, 1, 5, 2, 5, 1]
distinct_answers = survey_results.to_set

#<Set: {1, 2, 7, 5}>

In [92]:
# ensure that duplicate values never get into the list, use a set
games = [["Alice", "Bob"], ["Carol", "Ted"],
         ["Alice", "Mallory"], ["Ted", "Bob"]]
players = games.inject(Set.new) { |set, game| game.each { |p| set << p }; set }

#<Set: {"Alice", "Bob", "Carol", "Ted", "Mallory"}>

In [93]:
players << "Ted"

#<Set: {"Alice", "Bob", "Carol", "Ted", "Mallory"}>

In [94]:
[1,2,3].reverse

[3, 2, 1]

In [95]:
[1,[2,3,4],5].reverse

[5, [2, 3, 4], 1]

In [96]:
a = [1,2,3]
a.reverse!
a

[3, 2, 1]

In [97]:
[5.01, -5, 0, 5].sort

[-5, 0, 5, 5.01]

In [98]:
["Utahraptor", "Ankylosaur", "Maiasaur"].sort

["Ankylosaur", "Maiasaur", "Utahraptor"]

In [100]:
# sort an array of arrays by size
arrays = [[1,2,3], [100], [10,20]]
arrays.sort_by { |x| x.size }

[[100], [10, 20], [1, 2, 3]]

In [102]:
[1, 100, 42, 23, 26, 10000].sort do |x, y|
  x == 42 ? 1 : x<=>y
end

[1, 23, 26, 42, 100, 10000]

In [103]:
class Animal
  attr_reader :name, :eyes, :appendages

  def initialize(name, eyes, appendages)
    @name, @eyes, @appendages = name, eyes, appendages
  end
  
  def inspect
    @name
  end
end

animals = [Animal.new("octopus", 2, 8),
           Animal.new("spider", 6, 8),
           Animal.new("bee", 5, 6),
           Animal.new("elephant", 2, 4),
           Animal.new("crab", 2, 10)]

animals.sort_by { |x| x.eyes }

[octopus, elephant, crab, bee, spider]

In [104]:
animals.sort_by { |x| x.appendages }

[elephant, bee, octopus, spider, crab]

In [105]:
# the strings beginning with uppercase letters sort before the strings beginning with lowercase letters
list = ["Albania", "anteater", "zorilla", "Zaire"]
list.sort

["Albania", "Zaire", "anteater", "zorilla"]

In [106]:
list.sort_by { |x| x.downcase }

["Albania", "anteater", "Zaire", "zorilla"]

In [107]:
list.collect { |s| [s.downcase, s] }.sort.collect { |subarray| subarray[1] }

["Albania", "anteater", "Zaire", "zorilla"]

In [108]:
m={}
list.sort { |x,y| (m[x] ||= x.downcase) <=> (m[y] ||= y.downcase) }

["Albania", "anteater", "Zaire", "zorilla"]